<section class="section about">
  <div class="about-content">
    <div class="contenedor-foto">
      <img src="img/foto-gonzalo.png" alt="Foto Gonzalo" class="foto-perfil">
    </div>
    <h2><span class="highlight">FULL-STACK</span> DEVELOPER</h2>
    <p>
      Desarrollador de aplicaciones web enfocado tanto en <strong>frontend</strong> como en <strong>backend</strong>. Actualmente 
      me estoy centrando en Spring Boot y Angular para crear aplicaciones, ya que son dos de las tecnolgías más demandadas por el mercado.
    </p>
  </div>
</section> 
