<div class="contenedor-trabajos">
  <h1 class="titulo">Proyectos</h1>
  <div class="lista-trabajos-contenedor">
    <ol class="lista-trabajos">

      <li class="trabajo" >
        <h2 class="titulo-trabajos">Weather App</h2>
        <p class="descripcion-trabajo" >
         Aplicación meteorológica que obtiene datos usando API Rest para mostrar el tiempo actual, la previsión por horas y la de los próximos días. 
         <br>Gracias a SpringBoot, cuenta con un sistema de cache para evitar llamadas innecesarias a la API.
        </p>
        <ul class="tecnologias-trabajo" >
          <li class="tecnologia">Spring Boot</li>
          <li class="tecnologia">Angular</li>
          <li class="tecnologia">Java</li>
          <li class="tecnologia">TypeScript</li>
          <li class="tecnologia">Html5</li>
          <li class="tecnologia">CSS3</li>
          <li class="tecnologia">JSON</li>
          <li class="tecnologia">API Rest</li>
          
        </ul>
      </li>

      <li class="trabajo" >
        <h2 class="titulo-trabajos">Food Go</h2>
        <p class="descripcion-trabajo">
         Aplicación para crear y gestionar recetas de cocina mediante base de datos y operaciones CRUD. 
         <br>Cuenta también con sistema de registro, autenticación de usuarios, y sistema de roles para administrar usuarios premium, editores y normales. 
        </p>
        <ul class="tecnologias-trabajo">
          <li class="tecnologia">XAMPP</li>
          <li class="tecnologia">MySql</li>
          <li class="tecnologia">PHP</li>
          <li class="tecnologia">JavaScript</li>
          <li class="tecnologia">HTML5</li>
          <li class="tecnologia">CSS3</li>
        </ul>
      </li>

      <li class="trabajo" >
        <h2 class="titulo-trabajos"> <a class="enlace" href="https://locandstock.es">Loc&Stock</a></h2>
        <p class="descripcion-trabajo" >
          Landing page de empresa dedicada a servicios de localización para producción de anuncios, series y películas.
          <br>
          Me encargué del desarrollo siguiendo las indicaciones del cliente y en base al modelo aportado por una diseñadora UX/UI.
        </p>
        <ul class="tecnologias-trabajo" >
          <li class="tecnologia">Html</li>
          <li class="tecnologia">CSS3</li>
          <li class="tecnologia">JavaScript</li>
        </ul>
      </li>

    </ol>
  </div>
</div>
