<section class="section stack">
  <h2>MY STACK</h2>

  <div class="stack-group">
    <div class="stack-box">
      <h3>FRONTEND</h3>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>React</li>
      </ul>
    </div>

    <div class="stack-box">
      <h3>BACKEND</h3>
      <ul>
        <li>Java</li>
        <li>SpringBoot</li>
        <li>PHP</li>
        <li>C#</li>
      </ul>
    </div>
  </div>

  <div class="stack-group">
    <div class="stack-box small">
      <h3>Bases de datos</h3>
      <ul>
        <li>MySQL</li>
        <li>Hibernate</li>
      </ul>
    </div>

    <div class="stack-box small">
      <h3>Herramientas</h3>
      <ul>
        <li>Git</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
</section>
