<section class="section stack">
  <h2>MY STACK</h2>

  <div class="stack-group">
    <div class="stack-box">
      <h3>FRONTEND</h3>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>React</li>
      </ul>
    </div>

    <div class="stack-box">
      <h3>BACKEND</h3>
      <ul>
        <li>Java</li>
        <li>SpringBoot</li>
        <li>PHP</li>
        <li>C#</li>
      </ul>
    </div>
  </div>

  <div class="stack-group">
    <div class="stack-box small">
      <h3>Bases de datos</h3>
      <ul>
        <li>MySQL</li>
        <li>Hibernate</li>
      </ul>
    </div>

    <div class="stack-box small">
      <h3>Herramientas</h3>
      <ul>
        <li>Git</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>


  <mat-card class="mi-card">
  <mat-card-header>
    <mat-card-title>Nombre del proyecto</mat-card-title>
    <mat-card-subtitle>Portfolio 2025</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="assets/imagen.jpg" alt="Imagen de ejemplo">

  <mat-card-content>
    <p>
      Esta es una breve descripción de tu proyecto.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>VER MÁS</button>
  </mat-card-actions>
</mat-card>

  
</section>
