<section class="section stack">
  <h2>MY STACK</h2>


<div class="container">
  <div class="cards-wrapper">
    <!-- Tarjetas grandes -->
    <div class="card">
      <div class="especialidad-contenedor">
        <p class="especialidad">FRONTEND</p>
      </div>
      <div class="tecnologias">
        <ul class="tecnologias-lista">
          <li class="tecnologia"><span>Angular</span><img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular" /></li>
          <li class="tecnologia"><span>TypeScript</span><img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="TypeScript" /></li>
          <li class="tecnologia"><span>JavaScript</span><img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JavaScript" /></li>
          <li class="tecnologia"><span>React</span><img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React" /></li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="especialidad-contenedor">
        <p class="especialidad">BACKEND</p>
      </div>
      <div class="tecnologias">
        <ul class="tecnologias-lista">
          <li class="tecnologia"><span>Java</span><img src="https://upload.wikimedia.org/wikipedia/fr/2/2e/Java_Logo.svg" alt="Java" /></li>
          <li class="tecnologia"><span>SpringBoot</span><img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Spring_Boot.svg" alt="SpringBoot" /></li>
          <li class="tecnologia"><span>PHP</span><img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt="PHP" /></li>
          <li class="tecnologia"><span>C#</span><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt="C#" /></li>
        </ul>
      </div>
    </div>

    <!-- Contenedor para las tarjetas pequeñas -->
    <div class="small-cards">
      <div class="card small-card">
        <p class="especialidad">BBDD</p>
        <p>MySql, Hibernate</p>
      </div>
      <div class="card small-card">
        <p class="especialidad">Herramientas</p>
        <p>Git, AWS</p>
      </div>
    </div>
  </div>
</div>






</section>

 

